h1 {
  font-family: Nunito;
  font-weight: bolder;
  color: #000000;
}

h4 {
  font-family: Nunito;
  font-weight: bolder;
  color: #000000;
}

h2 {
  font-weight: bolder;
  color: #000000;
}

p {
  font-family: Roboto;
  font-weight: 300;
  text-align: left;
}

b {
  color: #000000
}

span {
  font-family: Roboto;
  font-weight: 300;
  text-align: left;
}


.contentBody {
  margin-left: 25vw;
  margin-right: 30vw;
}

/* NAVBAR CSS */
#navbarTitle {
  margin: 1rem 5rem 1rem 1rem;
  font-size: 0.9rem;
}

/* ROW CSS */
.rewards-row {
  margin-top: 5vh;
}

.summary-row {
  margin-top: 10vh;
}
/* CLASS CSS */
.credit-card-textbox {
  border: dashed 2px #38D228;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  padding: 1.5rem;
}

.narrator-textbox {
  background-color: #333333;
  color: white;
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-size: 0.8rem;
  z-index: 1;

  border-radius: 1rem;
  padding: 2rem;
}

.narrator-textbox-2 {
  background-color: #333333;
  color: white;
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
  z-index: 1;

  border-radius: 1rem;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.term-highlight {
  background-color: #333333;
  color: white;
  z-index: 1;
  font-family: Roboto;
  font-weight: 300;

  border-radius: 0.2rem;
  padding: 0.1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.term-highlight:hover + .term-definition {
  background-color: green;
  z-index: 1;
  font-family: Roboto;
  font-weight: 100;
  border-radius: 1rem;
  border: 1px solid green;
}

.term-definition {
  display: block;
  display: none;
}


.narrator-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-left {

  height: 80%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-map {
  position: relative;
  top: 0;
  left: 0;
}

.quizHeader {
  position: relative;
  display: block;
  background-color: white;
  font-family: Nunito;
  font-weight: bolder;
  font-size: x-large;
  color: #000000;
  text-align: center;

  border: dashed 2px #38D228;
  margin: auto;
  width: 12rem;
  height: 3rem;
  border-radius: 3rem;
  padding: 0.5rem 0;

  z-index: 100;
}

.quizBox {
  position: relative;
  background-color: white;
  border: dashed 2px #38D228;
  margin: auto;
  margin-top: -1.5rem;
  width: 25rem;
  height: 25rem;
  border-radius: 1rem;

  z-index: 1;
}

.quizContents {
  position: relative;
  background-color: white;
  color: black;
  margin: auto;
  width: 12rem;
  height: auto;
  padding: 4rem 0;

  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}
/* IMAGE CSS */

#img-jerry {
  height: auto;
  width: 275%;

  z-index: -1;
}

#img-why-creditcard {
  justify-content: center;
  height: auto;
  width:85%;
}

#img-house {
  height: auto;
  width: 90%;
}

#img-jerry-apply {
  position: relative;
  top: 0;
  left: 0;

  height: auto;
  width: 100%;
}

#gif-jerry-cc {
  position: absolute;

  height: auto;
  width: 75%;

  z-index: -5;

  bottom: 10vh;
  left: 6.5vw;

}

#gif-cashback {
  height: auto;
  width: 100%;
}

#gif-perks {
  height: auto;
  width: 100%;
}

#gif-fraud {
  height: auto;
  width: 85%;
}

.crop-to-fit {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 90%;
}

#img-credit-cards {
  width: 130%;
  height: auto;
}

#img-chasing-rewards{
  margin: -0 0 0 -2rem;
  width: 100%;
  height: auto;
}

#img-over-credit-limit{
  margin: -0 0 0 2rem;
  width: 100%;
  height: auto;
}

#img-cash-advances {
  margin: -0 0 0 -1rem;
  width: 80%;
  height: auto;
}

#bought-lots-of-stuff {
  width: 100%;
  height: auto;
}

#minimum-payment {
  width: 100%;
  height: auto;
}

#credit-card-statement {
  margin: -0 0 0 -3.8rem;
  width: 115%;
  height: auto;
}

#minimum-payment-race {
  width: 135%;
  height: auto;
}

#review-billing-statement {
  margin: -0 0 0 -3rem;
  width: 100%;
  height: auto;
}

#so-much-to-know-about-cc {
  width: 120%;
  height: auto;
}